<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>闪电聘</title>
    {% include "header.html" %}
    <link rel="stylesheet" href="/css/customList.css">
</head>

<body>

<div class="container" style="margin-top: 15%">
    <div class="custom-info none" style="display: block;"> <span class="info">Java/北京/没有要求/成熟型</span> <a class="go" href="/custom/mine.html" target="_self"> <em class="icon" style="display: inline-block;"></em> <em class="text">编辑</em> </a> </div>
    <div>
        <ul class="list-group list">
            <li class="list-item" >
                <img src="http://www.lagou.com/image1/M00/00/09/Cgo8PFTUWBKAQjtNAAAd8P1R3uQ694.jpg" class="item-logo"/>
                <div class="item-desc">
                    <h2 class="item-title">易宝支付</h2>
                    <p class="item-info">
                    <span class="item-pos">
                        Java工程师 [ 北京 ]
                    </span>
                        <span class="item-salary">10k-20k</span>
                    </p>
                    <p class="item-time">2016-03-04</p>
                </div>
            </li>
            <li class="list-item" >
                <img src="http://www.lagou.com/image1/M00/00/09/Cgo8PFTUWBKAQjtNAAAd8P1R3uQ694.jpg" class="item-logo"/>
                <div class="item-desc">
                    <h2 class="item-title">易宝支付</h2>
                    <p class="item-info">
                    <span class="item-pos">
                        Java工程师 [ 北京 ]
                    </span>
                        <span class="item-salary">10k-20k</span>
                    </p>
                    <p class="item-time">2016-03-04</p>
                </div>
            </li>
            <li class="list-item" >
                <img src="http://www.lagou.com/image1/M00/00/09/Cgo8PFTUWBKAQjtNAAAd8P1R3uQ694.jpg" class="item-logo"/>
                <div class="item-desc">
                    <h2 class="item-title">易宝支付</h2>
                    <p class="item-info">
                    <span class="item-pos">
                        Java工程师 [ 北京 ]
                    </span>
                        <span class="item-salary">10k-20k</span>
                    </p>
                    <p class="item-time">2016-03-04</p>
                </div>
            </li>
            <li class="list-item" >
                <img src="http://www.lagou.com/image1/M00/00/09/Cgo8PFTUWBKAQjtNAAAd8P1R3uQ694.jpg" class="item-logo"/>
                <div class="item-desc">
                    <h2 class="item-title">易宝支付</h2>
                    <p class="item-info">
                    <span class="item-pos">
                        Java工程师 [ 北京 ]
                    </span>
                        <span class="item-salary">10k-20k</span>
                    </p>
                    <p class="item-time">2016-03-04</p>
                </div>
            </li>
            <li class="list-item" >
                <img src="http://www.lagou.com/image1/M00/00/09/Cgo8PFTUWBKAQjtNAAAd8P1R3uQ694.jpg" class="item-logo"/>
                <div class="item-desc">
                    <h2 class="item-title">易宝支付</h2>
                    <p class="item-info">
                    <span class="item-pos">
                        Java工程师 [ 北京 ]
                    </span>
                        <span class="item-salary">10k-20k</span>
                    </p>
                    <p class="item-time">2016-03-04</p>
                </div>
            </li>
        </ul>
    </div>
</div>
</body>

</html>