<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>闪电聘</title>
    {% include "header.html" %}
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/sidebar.css">
</head>

<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <h3> 北 京
                <button class="btn btn-default btn-xs"><i class="icon-map-marker"></i>
                    切换城市
                </button>
            </h3>
        </div>

        <div class="col-md-9 search-area-style inline-block">
            <form class="form-group"></form>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="text" class="form-control input-lg" id="searchKeyWord" placeholder="如: 销售 北京 ">
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary btn-lg" id="jobListSearchButton"><i
                            class="icon-search"></i>
                        搜 索
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="padding-top: 20px">
        <div class="row">
            <div class="col-md-3" style="border-right: rgba(25, 27, 27, 0.34); background-color: transparent;">
                <div class="row">
                    {% include "sidebar.html" %}
                </div>
            </div>

            <div class="col-md-9">
                <div class="select-sort-style">
                    <div class="select-style">

                        <div>
                            <ul class="list-inline">
                                <i class="icon-map-marker select-icon-style">
                                </i> <span class="select-name">工作地点</span>
                                <li>北京</li>
                                <li>海淀</li>
                                <li>朝阳</li>
                                <li>东城</li>
                                <li>西城</li>
                            </ul>
                            <hr class="list-hr">
                        </div>

                        <div>
                            <ul class="list-inline">
                                <i class="icon-time select-icon-style"></i>
                                <span class="select-name">发布时间</span>
                                <li>1天以内</li>
                                <li>5天以内</li>
                                <li>10天以内</li>
                                <li>15天以内</li>
                                <li>20天以内</li>
                            </ul>
                            <hr class="list-hr">
                        </div>

                        <div>
                            <ul class="list-inline">
                                <i class="icon-time select-icon-style"></i>
                                <span class="select-name">工作类型</span>
                                <li>全职</li>
                                <li>兼职</li>
                            </ul>
                            <hr class="list-hr">
                        </div>


                        <!--todo 蓝领工作对于经验要求应该不高-->
                        <!--<div>-->
                        <!--<ul class="list-inline">-->
                        <!--<i class="icon-plus select-icon-style"></i>-->
                        <!--<span class="select-name">工作经验</span>-->
                        <!--<li>不限制</li>-->
                        <!--<li>1-2年</li>-->
                        <!--<li>3-5年</li>-->
                        <!--<li>5-10年</li>-->
                        <!--<li>10年以上</li>-->
                        <!--</ul>-->
                        <!--<hr class="list-hr">-->
                        <!--</div>-->
                        <!--<div>-->
                        <!--<ul class="list-inline">-->
                        <!--<i class="icon-time select-icon-style"></i>-->
                        <!--<span class="select-name">学历要求</span>-->
                        <!--<li>不限</li>-->
                        <!--<li>初中</li>-->
                        <!--<li>高中</li>-->
                        <!--<li>本科</li>-->
                        <!--<li>研究生</li>-->
                        <!--</ul>-->
                        <!--<hr class="list-hr">-->
                        <!--</div>-->

                        <!--todo 思考是否要加上薪资待遇-->
                        <!--<div>-->
                        <!--<ul class="list-inline">-->
                        <!--<i class="icon-yen select-icon-style"></i>-->
                        <!--<span class="select-name">薪资待遇</span>-->
                        <!--<li>无要求</li>-->
                        <!--<li>1000以下</li>-->
                        <!--<li>1000-2000</li>-->
                        <!--<li>2000-3000</li>-->
                        <!--<li>3000-5000</li>-->
                        <!--<li>5000-8000</li>-->
                        <!--<li>8000-12000</li>-->
                        <!--<li>12000以上</li>-->
                        <!--</ul>-->
                        <!--</div>-->
                    </div>

                    <div class="btn-group inline-block" role="group" aria-label="...">
                        <button type="button" class="btn btn-default btn-sm active">默认</button>
                        <button type="button" class="btn btn-default btn-sm">
                            工资最高<i class="icon-long-arrow-down sort-icon-style"></i>
                        </button>
                        <button type="button" class="btn btn-default btn-sm">发布最新
                            <i class="icon-long-arrow-down sort-icon-style"></i>
                        </button>
                        <!--<button type="button" class="btn btn-default btn-sm">投递数-->
                            <!--<i class="icon-long-arrow-down sort-icon-style"></i>-->
                        <!--</button>-->
                        <button type="button" class="btn btn-default btn-sm">离我最近
                            <i class="icon-long-arrow-down sort-icon-style"></i>
                        </button>

                    </div>
                </div>

                {% include "joblist.html" %}
            </div>

        </div>

    </div>

</div>

<script src="/js/sidebar.js"></script>
<script src="/js/list.js"></script>
{% include "footer.html" %}
</body>
</html>