<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>闪电聘</title>
    {% include "header.html" %}
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>

<div class="container-fluid">

    <!--<div class="row">-->
    <!--<div class="navbar-wrapper navbar-fixed-top navbar-inverse">-->
    <!--<div class="container">-->
    <!--<nav class="navbar navbar-inverse navbar-static-top">-->
    <!--<div class="container">-->
    <!--<div class="navbar-header">-->
    <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"-->
    <!--data-target="#navbar"-->
    <!--aria-expanded="false" aria-controls="navbar">-->
    <!--<span class="sr-only">Toggle navigation</span>-->
    <!--<span class="icon-bar"></span>-->
    <!--<span class="icon-bar"></span>-->
    <!--<span class="icon-bar"></span>-->
    <!--</button>-->
    <!--<a class="navbar-brand" href="#">闪电招聘</a>-->
    <!--</div>-->

    <!--<div id="navbar" class="navbar-collapse collapse">-->
    <!--<ul class="nav navbar-nav">-->
    <!--<li class="active"><a href="#">主页</a></li>-->
    <!--<li><a href="#about">找工作</a></li>-->
    <!--<li><a href="#contact">发布信息</a></li>-->
    <!--<li class="dropdown">-->
    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"-->
    <!--aria-haspopup="true" aria-expanded="false">工作台 <span class="caret"></span></a>-->
    <!--<ul class="dropdown-menu">-->
    <!--<li><a href="#">Action</a></li>-->
    <!--<li><a href="#">Another action</a></li>-->
    <!--<li><a href="#">Something else here</a></li>-->
    <!--<li role="separator" class="divider"></li>-->
    <!--<li class="dropdown-header">Nav header</li>-->
    <!--<li><a href="#">Separated link</a></li>-->
    <!--<li><a href="#">One more separated link</a></li>-->
    <!--</ul>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</div>-->

    <!--</div>-->
    <!--</nav>-->

    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <div class="row" style="padding-top: 5%">
        <div class="row">
            <div class="col-md-3" style="border-right: #ebebeb">
                <div id="sidebar" class="sidebar">
                    <div class="mainNavs">
                        <div class="menu_box">
                            <div class="menu_main job_hopping">
                                <h2>
                                    餐饮
                                    <span></span>
                                </h2>
                                <a href="http://www.lagou.com/zhaopin/Java/" data-lg-tj-id="4A00" data-lg-tj-no="0001"
                                   data-lg-tj-cid="idnull">服务员</a>
                                <a href="http://www.lagou.com/zhaopin/PHP/" data-lg-tj-id="4A00" data-lg-tj-no="0002"
                                   data-lg-tj-cid="idnull">厨师</a>
                                <a href="http://www.lagou.com/zhaopin/C/" data-lg-tj-id="4A00" data-lg-tj-no="0003"
                                   data-lg-tj-cid="idnull">送餐员</a>
                                <a href="http://www.lagou.com/zhaopin/C++/" data-lg-tj-id="4A00" data-lg-tj-no="0004"
                                   data-lg-tj-cid="idnull">卫生员工</a>
                            </div>
                            <div class="menu_main job_hopping">
                                <h2>
                                    酒店旅游
                                    <span></span>
                                </h2>
                                <a href="http://www.lagou.com/zhaopin/Java/" data-lg-tj-id="4A00" data-lg-tj-no="0001"
                                   data-lg-tj-cid="idnull">服务员</a>
                                <a href="http://www.lagou.com/zhaopin/PHP/" data-lg-tj-id="4A00" data-lg-tj-no="0002"
                                   data-lg-tj-cid="idnull">厨师</a>
                                <a href="http://www.lagou.com/zhaopin/C/" data-lg-tj-id="4A00" data-lg-tj-no="0003"
                                   data-lg-tj-cid="idnull">送餐员</a>
                                <a href="http://www.lagou.com/zhaopin/C++/" data-lg-tj-id="4A00" data-lg-tj-no="0004"
                                   data-lg-tj-cid="idnull">卫生员工</a>
                            </div>
                            <div class="menu_main job_hopping">
                                <h2>
                                    家政
                                    <span></span>
                                </h2>
                                <a href="http://www.lagou.com/zhaopin/Java/" data-lg-tj-id="4A00" data-lg-tj-no="0001"
                                   data-lg-tj-cid="idnull">服务员</a>
                                <a href="http://www.lagou.com/zhaopin/PHP/" data-lg-tj-id="4A00" data-lg-tj-no="0002"
                                   data-lg-tj-cid="idnull">厨师</a>
                                <a href="http://www.lagou.com/zhaopin/C/" data-lg-tj-id="4A00" data-lg-tj-no="0003"
                                   data-lg-tj-cid="idnull">送餐员</a>
                                <a href="http://www.lagou.com/zhaopin/C++/" data-lg-tj-id="4A00" data-lg-tj-no="0004"
                                   data-lg-tj-cid="idnull">卫生员工</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <!--搜索-->
                <div class="row">
                    <form class="form-group"></form>
                    <div class="form-group">
                        <div class="col-md-9">
                            <input type="input" class="form-control input-lg" id="inputPassword3" placeholder="销售">
                        </div>
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-primary btn-lg">搜 索</button>
                        </div>
                    </div>
                </div>

                <!--筛选-->
                <div class="row" style="padding-top: 5px">
                    <div class="form-group">
                        <div class="col-md-2">
                            <select class="form-control col-md-2">
                                <option>薪资</option>
                                <option>不限</option>
                                <option>不限</option>
                                <option>2000以下</option>
                                <option>2000-4000</option>
                                <option>4000-6000</option>
                                <option>6000-8000</option>
                                <option>8000-10000</option>
                                <option>10000以上</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <select class="form-control col-md-2">
                                <option>工作经验</option>
                                <option>不限</option>
                                <option>2年以内</option>
                                <option>1-3年</option>
                                <option>3-5年</option>
                                <option>5年以上</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <select class="form-control col-md-2">
                                <option>不限</option>
                                <option>不需要经验</option>
                                <option>2年以内</option>
                                <option>1-3年</option>
                                <option>3-5年</option>
                                <option>5年以上</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <select class="form-control col-md-2">
                                <option>发布时间</option>
                                <option>不限</option>
                                <option>24小时以内</option>
                                <option>3天以内</option>
                                <option>7天以内</option>
                                <option>30天以内</option>
                            </select>
                        </div>

                    </div>
                </div>

                <!--职位列表-->
                <div class="list-group" style="padding-top: 20px">

                    <a href="/jobdesc?id=12434" class="list-group-item">
                        <h4 class="list-group-item-heading">酒店服务员
                            <small>3000-5000</small>
                        </h4>
                        <p class="list-group-item-text" style="padding-top: 3px">包吃包住,非常便宜</p>
                    </a>

                    <a href="/jobdec?id=12345" class="list-group-item">
                        <h4 class="list-group-item-heading">快递员
                            <small>5000-6000</small>
                        </h4>
                        <p class="list-group-item-text" style="padding-top: 3px">美团公司直招外卖快递员</p>
                    </a>

                    <a href="/jobdec?id=12345" class="list-group-item">
                        <h4 class="list-group-item-heading">厨师
                            <small>6000-8000</small>
                        </h4>
                        <p class="list-group-item-text" style="padding-top: 3px">好企业,提供厨师师傅的更好的平台</p>
                    </a>
                </div>
            </div>

        </div>

    </div>
</div>

</body>
</html>