<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>闪电聘, 找工作, 蓝领求职, 求职</title>
    {% include "header.html" %}
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>

<div class="layout">
    ::before
    <!--导航条-->
    <div class="navbar-wrapper navbar-fixed-top navbar-inverse">

        <div class="container">
            <nav class="navbar navbar-inverse navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#navbar"
                                aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">闪电招聘</a>
                    </div>

                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">主页</a></li>
                            <li><a href="#about">找工作</a></li>
                            <li><a href="#contact">发布信息</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false">工作台 <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li class="dropdown-header">Nav header</li>
                                    <li><a href="#">Separated link</a></li>
                                    <li><a href="#">One more separated link</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                </div>
            </nav>

        </div>
    </div>

    <!--搜索条-->
    <div class="search-wrapper">
        <div class="input-group ">
            <input type="text" class="form-control" id="search-input" placeholder="岗位: 如 销售"
                   aria-describedby="basic-addon2">
            <button type="button" class="btn btn-default btn-lg" id="search-button">
                搜索
            </button>
        </div>
    </div>

    <!--筛选行业与品类-->
    <div id="sidebar" class="sidebar">
        <div class="mainNavs">

            <div class="menu_box">
                <div class="menu_main job_hopping">
                    <h2>
                        餐饮行业
                        <span></span>
                    </h2>


                    <a href="http://www.lagou.com/zhaopin/Java/" data-lg-tj-id="4A00" data-lg-tj-no="0001"
                       data-lg-tj-cid="idnull">服务员</a>


                    <a href="http://www.lagou.com/zhaopin/PHP/" data-lg-tj-id="4A00" data-lg-tj-no="0002"
                       data-lg-tj-cid="idnull">厨师</a>


                    <a href="http://www.lagou.com/zhaopin/C/" data-lg-tj-id="4A00" data-lg-tj-no="0003"
                       data-lg-tj-cid="idnull">送餐员</a>


                    <a href="http://www.lagou.com/zhaopin/C++/" data-lg-tj-id="4A00" data-lg-tj-no="0004"
                       data-lg-tj-cid="idnull">卫生员工</a>
                </div>

                <!--下面是隐藏的部分的展示样式-->
                <div class="menu_sub dn" style="top: 0px;">
                    <dl>
                        <dt>


                            <a href="http://www.lagou.com/zhaopin/houduankaifa/" data-lg-tj-id="4H00"
                               data-lg-tj-no="0001"
                               data-lg-tj-cid="idnull">后端开发</a>
                        </dt>
                        <dd>


                            <a href="http://www.lagou.com/zhaopin/Java/" data-lg-tj-id="4O00" data-lg-tj-no="0101"
                               data-lg-tj-cid="idnull" class="curr">Java</a>


                            <a href="http://www.lagou.com/zhaopin/Python/" data-lg-tj-id="4O00" data-lg-tj-no="0102"
                               data-lg-tj-cid="idnull" class="">Python</a>


                            <a href="http://www.lagou.com/zhaopin/PHP/" data-lg-tj-id="4O00" data-lg-tj-no="0103"
                               data-lg-tj-cid="idnull" class="curr">PHP</a>


                            <a href="http://www.lagou.com/zhaopin/.NET/" data-lg-tj-id="4O00" data-lg-tj-no="0104"
                               data-lg-tj-cid="idnull" class="">.NET</a>


                            <a href="http://www.lagou.com/zhaopin/C%23/" data-lg-tj-id="4O00" data-lg-tj-no="0105"
                               data-lg-tj-cid="idnull" class="">C#</a>


                            <a href="http://www.lagou.com/zhaopin/C%2B%2B/" data-lg-tj-id="4O00" data-lg-tj-no="0106"
                               data-lg-tj-cid="idnull" class="curr">C++</a>


                            <a href="http://www.lagou.com/zhaopin/C/" data-lg-tj-id="4O00" data-lg-tj-no="0107"
                               data-lg-tj-cid="idnull" class="curr">C</a>


                            <a href="http://www.lagou.com/zhaopin/VB/" data-lg-tj-id="4O00" data-lg-tj-no="0108"
                               data-lg-tj-cid="idnull" class="">VB</a>


                            <a href="http://www.lagou.com/zhaopin/Delphi/" data-lg-tj-id="4O00" data-lg-tj-no="0109"
                               data-lg-tj-cid="idnull" class="">Delphi</a>


                            <a href="http://www.lagou.com/zhaopin/Perl/" data-lg-tj-id="4O00" data-lg-tj-no="0110"
                               data-lg-tj-cid="idnull" class="">Perl</a>


                            <a href="http://www.lagou.com/zhaopin/Ruby/" data-lg-tj-id="4O00" data-lg-tj-no="0111"
                               data-lg-tj-cid="idnull" class="">Ruby</a>


                            <a href="http://www.lagou.com/zhaopin/Hadoop/" data-lg-tj-id="4O00" data-lg-tj-no="0112"
                               data-lg-tj-cid="idnull" class="">Hadoop</a>


                            <a href="http://www.lagou.com/zhaopin/Node.js/" data-lg-tj-id="4O00" data-lg-tj-no="0113"
                               data-lg-tj-cid="idnull" class="">Node.js</a>


                            <a href="http://www.lagou.com/zhaopin/shujuwajue/" data-lg-tj-id="4O00" data-lg-tj-no="0114"
                               data-lg-tj-cid="idnull" class="">数据挖掘</a>


                            <a href="http://www.lagou.com/zhaopin/ziranyuyanchuli/" data-lg-tj-id="4O00"
                               data-lg-tj-no="0115" data-lg-tj-cid="idnull" class="">自然语言处理</a>


                            <a href="http://www.lagou.com/zhaopin/sousuosuanfa/" data-lg-tj-id="4O00"
                               data-lg-tj-no="0116"
                               data-lg-tj-cid="idnull" class="">搜索算法</a>


                            <a href="http://www.lagou.com/zhaopin/jingzhuntuijian/" data-lg-tj-id="4O00"
                               data-lg-tj-no="0117" data-lg-tj-cid="idnull" class="">精准推荐</a>


                            <a href="http://www.lagou.com/zhaopin/quanzhangongchengshi/" data-lg-tj-id="4O00"
                               data-lg-tj-no="0118" data-lg-tj-cid="idnull" class="">全栈工程师</a>


                            <a href="http://www.lagou.com/zhaopin/go/" data-lg-tj-id="4O00" data-lg-tj-no="0119"
                               data-lg-tj-cid="idnull" class="">Go</a>


                            <a href="http://www.lagou.com/zhaopin/asp/" data-lg-tj-id="4O00" data-lg-tj-no="0120"
                               data-lg-tj-cid="idnull" class="">ASP</a>


                            <a href="http://www.lagou.com/zhaopin/shell/" data-lg-tj-id="4O00" data-lg-tj-no="0121"
                               data-lg-tj-cid="idnull" class="">Shell</a>


                            <a href="http://www.lagou.com/zhaopin/houduankaifaqita/" data-lg-tj-id="4O00"
                               data-lg-tj-no="0122" data-lg-tj-cid="idnull" class="">后端开发其它</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt>


                            <a href="http://www.lagou.com/zhaopin/yidongkaifa/" data-lg-tj-id="4H00"
                               data-lg-tj-no="0002"
                               data-lg-tj-cid="idnull">移动开发</a>
                        </dt>
                        <dd>


                            <a href="http://www.lagou.com/zhaopin/HTML5/" data-lg-tj-id="4O00" data-lg-tj-no="0201"
                               data-lg-tj-cid="idnull" class="">HTML5</a>


                            <a href="http://www.lagou.com/zhaopin/Android/" data-lg-tj-id="4O00" data-lg-tj-no="0202"
                               data-lg-tj-cid="idnull" class="curr">Android</a>


                            <a href="http://www.lagou.com/zhaopin/iOS/" data-lg-tj-id="4O00" data-lg-tj-no="0203"
                               data-lg-tj-cid="idnull" class="curr">iOS</a>


                            <a href="http://www.lagou.com/zhaopin/WP/" data-lg-tj-id="4O00" data-lg-tj-no="0204"
                               data-lg-tj-cid="idnull" class="">WP</a>


                            <a href="http://www.lagou.com/zhaopin/yidongkaifaqita/" data-lg-tj-id="4O00"
                               data-lg-tj-no="0205" data-lg-tj-cid="idnull" class="">移动开发其它</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt>


                            <a href="http://www.lagou.com/zhaopin/qianduankaifa/" data-lg-tj-id="4H00"
                               data-lg-tj-no="0003"
                               data-lg-tj-cid="idnull">前端开发</a>
                        </dt>
                        <dd>


                            <a href="http://www.lagou.com/zhaopin/webqianduan/" data-lg-tj-id="4O00"
                               data-lg-tj-no="0301"
                               data-lg-tj-cid="idnull" class="">web前端</a>


                            <a href="http://www.lagou.com/zhaopin/Flash/" data-lg-tj-id="4O00" data-lg-tj-no="0302"
                               data-lg-tj-cid="idnull" class="">Flash</a>


                            <a href="http://www.lagou.com/zhaopin/html51/" data-lg-tj-id="4O00" data-lg-tj-no="0303"
                               data-lg-tj-cid="idnull" class="">html5</a>


                            <a href="http://www.lagou.com/zhaopin/JavaScript/" data-lg-tj-id="4O00" data-lg-tj-no="0304"
                               data-lg-tj-cid="idnull" class="">JavaScript</a>


                            <a href="http://www.lagou.com/zhaopin/U3D/" data-lg-tj-id="4O00" data-lg-tj-no="0305"
                               data-lg-tj-cid="idnull" class="">U3D</a>


                            <a href="http://www.lagou.com/zhaopin/COCOS2D-X/" data-lg-tj-id="4O00" data-lg-tj-no="0306"
                               data-lg-tj-cid="idnull" class="">COCOS2D-X</a>


                            <a href="http://www.lagou.com/zhaopin/qianduankaifaqita/" data-lg-tj-id="4O00"
                               data-lg-tj-no="0307" data-lg-tj-cid="idnull" class="">前端开发其它</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt>


                            <a href="http://www.lagou.com/zhaopin/ceshi/" data-lg-tj-id="4H00" data-lg-tj-no="0004"
                               data-lg-tj-cid="idnull">测试</a>
                        </dt>
                        <dd>


                            <a href="http://www.lagou.com/zhaopin/ceshigongchengshi/" data-lg-tj-id="4O00"
                               data-lg-tj-no="0401" data-lg-tj-cid="idnull" class="">测试工程师</a>


                            <a href="http://www.lagou.com/zhaopin/zidonghuaceshi/" data-lg-tj-id="4O00"
                               data-lg-tj-no="0402"
                               data-lg-tj-cid="idnull" class="">自动化测试</a>


                            <a href="http://www.lagou.com/zhaopin/gongnengceshi/" data-lg-tj-id="4O00"
                               data-lg-tj-no="0403"
                               data-lg-tj-cid="idnull" class="">功能测试</a>


                            <a href="http://www.lagou.com/zhaopin/xingnengceshi/" data-lg-tj-id="4O00"
                               data-lg-tj-no="0404"
                               data-lg-tj-cid="idnull" class="">性能测试</a>


                            <a href="http://www.lagou.com/zhaopin/ceshikaifa/" data-lg-tj-id="4O00" data-lg-tj-no="0405"
                               data-lg-tj-cid="idnull" class="">测试开发</a>


                            <a href="http://www.lagou.com/zhaopin/youxiceshi/" data-lg-tj-id="4O00" data-lg-tj-no="0406"
                               data-lg-tj-cid="idnull" class="">游戏测试</a>


                            <a href="http://www.lagou.com/zhaopin/baiheceshi/" data-lg-tj-id="4O00" data-lg-tj-no="0407"
                               data-lg-tj-cid="idnull" class="">白盒测试</a>


                            <a href="http://www.lagou.com/zhaopin/huiheceshi/" data-lg-tj-id="4O00" data-lg-tj-no="0408"
                               data-lg-tj-cid="idnull" class="">灰盒测试</a>


                            <a href="http://www.lagou.com/zhaopin/heiheceshi/" data-lg-tj-id="4O00" data-lg-tj-no="0409"
                               data-lg-tj-cid="idnull" class="">黑盒测试</a>


                            <a href="http://www.lagou.com/zhaopin/shoujiceshi/" data-lg-tj-id="4O00"
                               data-lg-tj-no="0410"
                               data-lg-tj-cid="idnull" class="">手机测试</a>


                            <a href="http://www.lagou.com/zhaopin/yingjianceshi/" data-lg-tj-id="4O00"
                               data-lg-tj-no="0411"
                               data-lg-tj-cid="idnull" class="">硬件测试</a>


                            <a href="http://www.lagou.com/zhaopin/ceshijingli2/" data-lg-tj-id="4O00"
                               data-lg-tj-no="0412"
                               data-lg-tj-cid="idnull" class="">测试经理</a>


                            <a href="http://www.lagou.com/zhaopin/ceshiqita/" data-lg-tj-id="4O00" data-lg-tj-no="0413"
                               data-lg-tj-cid="idnull" class="">测试其它</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt>


                            <a href="http://www.lagou.com/zhaopin/yunwei/" data-lg-tj-id="4H00" data-lg-tj-no="0005"
                               data-lg-tj-cid="idnull">运维</a>
                        </dt>
                        <dd>


                            <a href="http://www.lagou.com/zhaopin/yunweigongchengshi/" data-lg-tj-id="4O00"
                               data-lg-tj-no="0501" data-lg-tj-cid="idnull" class="">运维工程师</a>


                            <a href="http://www.lagou.com/zhaopin/yunweikaifagongchengshi/" data-lg-tj-id="4O00"
                               data-lg-tj-no="0502" data-lg-tj-cid="idnull" class="">运维开发工程师</a>


                            <a href="http://www.lagou.com/zhaopin/wangluogongchengshi/" data-lg-tj-id="4O00"
                               data-lg-tj-no="0503" data-lg-tj-cid="idnull" class="">网络工程师</a>


                            <a href="http://www.lagou.com/zhaopin/xitonggongchengshi/" data-lg-tj-id="4O00"
                               data-lg-tj-no="0504" data-lg-tj-cid="idnull" class="">系统工程师</a>


                            <a href="http://www.lagou.com/zhaopin/ITzhichi/" data-lg-tj-id="4O00" data-lg-tj-no="0505"
                               data-lg-tj-cid="idnull" class="">IT支持</a>


                            <a href="http://www.lagou.com/zhaopin/idc/" data-lg-tj-id="4O00" data-lg-tj-no="0506"
                               data-lg-tj-cid="idnull" class="">IDC</a>


                            <a href="http://www.lagou.com/zhaopin/cdn/" data-lg-tj-id="4O00" data-lg-tj-no="0507"
                               data-lg-tj-cid="idnull" class="">CDN</a>


                            <a href="http://www.lagou.com/zhaopin/f5/" data-lg-tj-id="4O00" data-lg-tj-no="0508"
                               data-lg-tj-cid="idnull" class="">F5</a>


                            <a href="http://www.lagou.com/zhaopin/xitongguanliyuan/" data-lg-tj-id="4O00"
                               data-lg-tj-no="0509" data-lg-tj-cid="idnull" class="">系统管理员</a>


                            <a href="http://www.lagou.com/zhaopin/bingdufenxi/" data-lg-tj-id="4O00"
                               data-lg-tj-no="0510"
                               data-lg-tj-cid="idnull" class="">病毒分析</a>


                            <a href="http://www.lagou.com/zhaopin/webanquan/" data-lg-tj-id="4O00" data-lg-tj-no="0511"
                               data-lg-tj-cid="idnull" class="">WEB安全</a>


                            <a href="http://www.lagou.com/zhaopin/wangluoanquan/" data-lg-tj-id="4O00"
                               data-lg-tj-no="0512"
                               data-lg-tj-cid="idnull" class="">网络安全</a>


                            <a href="http://www.lagou.com/zhaopin/xitonganquan/" data-lg-tj-id="4O00"
                               data-lg-tj-no="0513"
                               data-lg-tj-cid="idnull" class="">系统安全</a>


                            <a href="http://www.lagou.com/zhaopin/yunweijingli/" data-lg-tj-id="4O00"
                               data-lg-tj-no="0514"
                               data-lg-tj-cid="idnull" class="">运维经理</a>


                            <a href="http://www.lagou.com/zhaopin/yunweiqita/" data-lg-tj-id="4O00" data-lg-tj-no="0515"
                               data-lg-tj-cid="idnull" class="">运维其它</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt>


                            <a href="http://www.lagou.com/zhaopin/DBA/" data-lg-tj-id="4H00" data-lg-tj-no="0006"
                               data-lg-tj-cid="idnull">DBA</a>
                        </dt>
                        <dd>


                            <a href="http://www.lagou.com/zhaopin/MySQL/" data-lg-tj-id="4O00" data-lg-tj-no="0601"
                               data-lg-tj-cid="idnull" class="">MySQL</a>


                            <a href="http://www.lagou.com/zhaopin/SQLServer/" data-lg-tj-id="4O00" data-lg-tj-no="0602"
                               data-lg-tj-cid="idnull" class="">SQLServer</a>


                            <a href="http://www.lagou.com/zhaopin/Oracle/" data-lg-tj-id="4O00" data-lg-tj-no="0603"
                               data-lg-tj-cid="idnull" class="">Oracle</a>


                            <a href="http://www.lagou.com/zhaopin/DB2/" data-lg-tj-id="4O00" data-lg-tj-no="0604"
                               data-lg-tj-cid="idnull" class="">DB2</a>


                            <a href="http://www.lagou.com/zhaopin/MongoDB/" data-lg-tj-id="4O00" data-lg-tj-no="0605"
                               data-lg-tj-cid="idnull" class="">MongoDB</a>


                            <a href="http://www.lagou.com/zhaopin/etl/" data-lg-tj-id="4O00" data-lg-tj-no="0606"
                               data-lg-tj-cid="idnull" class="">ETL</a>


                            <a href="http://www.lagou.com/zhaopin/hive/" data-lg-tj-id="4O00" data-lg-tj-no="0607"
                               data-lg-tj-cid="idnull" class="">Hive</a>


                            <a href="http://www.lagou.com/zhaopin/shujucangku/" data-lg-tj-id="4O00"
                               data-lg-tj-no="0608"
                               data-lg-tj-cid="idnull" class="">数据仓库</a>


                            <a href="http://www.lagou.com/zhaopin/dbaqita/" data-lg-tj-id="4O00" data-lg-tj-no="0609"
                               data-lg-tj-cid="idnull" class="">DBA其它</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt>


                            <a href="http://www.lagou.com/zhaopin/gaoduanjishuzhiwei/" data-lg-tj-id="4H00"
                               data-lg-tj-no="0007" data-lg-tj-cid="idnull">高端职位</a>
                        </dt>
                        <dd>


                            <a href="http://www.lagou.com/zhaopin/jishujingli/" data-lg-tj-id="4O00"
                               data-lg-tj-no="0701"
                               data-lg-tj-cid="idnull" class="curr">技术经理</a>


                            <a href="http://www.lagou.com/zhaopin/jishuzongjian/" data-lg-tj-id="4O00"
                               data-lg-tj-no="0702"
                               data-lg-tj-cid="idnull" class="curr">技术总监</a>


                            <a href="http://www.lagou.com/zhaopin/jiagoushi/" data-lg-tj-id="4O00" data-lg-tj-no="0703"
                               data-lg-tj-cid="idnull" class="curr">架构师</a>


                            <a href="http://www.lagou.com/zhaopin/CTO/" data-lg-tj-id="4O00" data-lg-tj-no="0704"
                               data-lg-tj-cid="idnull" class="curr">CTO</a>


                            <a href="http://www.lagou.com/zhaopin/yunweizongjian/" data-lg-tj-id="4O00"
                               data-lg-tj-no="0705"
                               data-lg-tj-cid="idnull" class="">运维总监</a>


                            <a href="http://www.lagou.com/zhaopin/jishuhehuoren/" data-lg-tj-id="4O00"
                               data-lg-tj-no="0706"
                               data-lg-tj-cid="idnull" class="">技术合伙人</a>


                            <a href="http://www.lagou.com/zhaopin/xiangmuzongjian/" data-lg-tj-id="4O00"
                               data-lg-tj-no="0707" data-lg-tj-cid="idnull" class="">项目总监</a>


                            <a href="http://www.lagou.com/zhaopin/ceshizongjian/" data-lg-tj-id="4O00"
                               data-lg-tj-no="0708"
                               data-lg-tj-cid="idnull" class="">测试总监</a>


                            <a href="http://www.lagou.com/zhaopin/anquanzhuanjia/" data-lg-tj-id="4O00"
                               data-lg-tj-no="0709"
                               data-lg-tj-cid="idnull" class="">安全专家</a>


                            <a href="http://www.lagou.com/zhaopin/gaoduanjishuzhiweiqita/" data-lg-tj-id="4O00"
                               data-lg-tj-no="0710" data-lg-tj-cid="idnull" class="">高端技术职位其它</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt>


                            <a href="http://www.lagou.com/zhaopin/xiangmuguanli/" data-lg-tj-id="4H00"
                               data-lg-tj-no="0008"
                               data-lg-tj-cid="idnull">项目管理</a>
                        </dt>
                        <dd>


                            <a href="http://www.lagou.com/zhaopin/xiangmujingli/" data-lg-tj-id="4O00"
                               data-lg-tj-no="0801"
                               data-lg-tj-cid="idnull" class="">项目经理</a>


                            <a href="http://www.lagou.com/zhaopin/xiangmuzhuli/" data-lg-tj-id="4O00"
                               data-lg-tj-no="0802"
                               data-lg-tj-cid="idnull" class="">项目助理</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt>


                            <a href="http://www.lagou.com/zhaopin/yingjiankaifa2/" data-lg-tj-id="4H00"
                               data-lg-tj-no="0009"
                               data-lg-tj-cid="idnull">硬件开发</a>
                        </dt>
                        <dd>


                            <a href="http://www.lagou.com/zhaopin/yingjian/" data-lg-tj-id="4O00" data-lg-tj-no="0901"
                               data-lg-tj-cid="idnull" class="">硬件</a>


                            <a href="http://www.lagou.com/zhaopin/qianrushi/" data-lg-tj-id="4O00" data-lg-tj-no="0902"
                               data-lg-tj-cid="idnull" class="">嵌入式</a>


                            <a href="http://www.lagou.com/zhaopin/zidonghua/" data-lg-tj-id="4O00" data-lg-tj-no="0903"
                               data-lg-tj-cid="idnull" class="">自动化</a>


                            <a href="http://www.lagou.com/zhaopin/danpianji/" data-lg-tj-id="4O00" data-lg-tj-no="0904"
                               data-lg-tj-cid="idnull" class="">单片机</a>


                            <a href="http://www.lagou.com/zhaopin/dianlusheji/" data-lg-tj-id="4O00"
                               data-lg-tj-no="0905"
                               data-lg-tj-cid="idnull" class="">电路设计</a>


                            <a href="http://www.lagou.com/zhaopin/qudongkaifa/" data-lg-tj-id="4O00"
                               data-lg-tj-no="0906"
                               data-lg-tj-cid="idnull" class="">驱动开发</a>


                            <a href="http://www.lagou.com/zhaopin/xitongjicheng/" data-lg-tj-id="4O00"
                               data-lg-tj-no="0907"
                               data-lg-tj-cid="idnull" class="">系统集成</a>


                            <a href="http://www.lagou.com/zhaopin/fpgakaifa/" data-lg-tj-id="4O00" data-lg-tj-no="0908"
                               data-lg-tj-cid="idnull" class="">FPGA开发</a>


                            <a href="http://www.lagou.com/zhaopin/dspkaifa/" data-lg-tj-id="4O00" data-lg-tj-no="0909"
                               data-lg-tj-cid="idnull" class="">DSP开发</a>


                            <a href="http://www.lagou.com/zhaopin/armkaifa/" data-lg-tj-id="4O00" data-lg-tj-no="0910"
                               data-lg-tj-cid="idnull" class="">ARM开发</a>


                            <a href="http://www.lagou.com/zhaopin/pcbgongyi/" data-lg-tj-id="4O00" data-lg-tj-no="0911"
                               data-lg-tj-cid="idnull" class="">PCB工艺</a>


                            <a href="http://www.lagou.com/zhaopin/mujusheji/" data-lg-tj-id="4O00" data-lg-tj-no="0912"
                               data-lg-tj-cid="idnull" class="">模具设计</a>


                            <a href="http://www.lagou.com/zhaopin/rechuandao/" data-lg-tj-id="4O00" data-lg-tj-no="0913"
                               data-lg-tj-cid="idnull" class="">热传导</a>


                            <a href="http://www.lagou.com/zhaopin/cailiaogongchengshi/" data-lg-tj-id="4O00"
                               data-lg-tj-no="0914" data-lg-tj-cid="idnull" class="">材料工程师</a>


                            <a href="http://www.lagou.com/zhaopin/jingyigongchengshi/" data-lg-tj-id="4O00"
                               data-lg-tj-no="0915" data-lg-tj-cid="idnull" class="">精益工程师</a>


                            <a href="http://www.lagou.com/zhaopin/shepingongchengshi/" data-lg-tj-id="4O00"
                               data-lg-tj-no="0916" data-lg-tj-cid="idnull" class="">射频工程师</a>


                            <a href="http://www.lagou.com/zhaopin/yingjiankaifaqita/" data-lg-tj-id="4O00"
                               data-lg-tj-no="0917" data-lg-tj-cid="idnull" class="">硬件开发其它</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt>


                            <a href="http://www.lagou.com/zhaopin/qiyeruanjian/" data-lg-tj-id="4H00"
                               data-lg-tj-no="0010"
                               data-lg-tj-cid="idnull">企业软件</a>
                        </dt>
                        <dd>


                            <a href="http://www.lagou.com/zhaopin/shishigongchengshi/" data-lg-tj-id="4O00"
                               data-lg-tj-no="1001" data-lg-tj-cid="idnull" class="">实施工程师</a>


                            <a href="http://www.lagou.com/zhaopin/shouqiangongchengshi/" data-lg-tj-id="4O00"
                               data-lg-tj-no="1002" data-lg-tj-cid="idnull" class="">售前工程师</a>


                            <a href="http://www.lagou.com/zhaopin/shouhougongchengshi/" data-lg-tj-id="4O00"
                               data-lg-tj-no="1003" data-lg-tj-cid="idnull" class="">售后工程师</a>


                            <a href="http://www.lagou.com/zhaopin/bigongchengshi/" data-lg-tj-id="4O00"
                               data-lg-tj-no="1004"
                               data-lg-tj-cid="idnull" class="">BI工程师</a>


                            <a href="http://www.lagou.com/zhaopin/qiyeruanjianqita/" data-lg-tj-id="4O00"
                               data-lg-tj-no="1005" data-lg-tj-cid="idnull" class="">企业软件其它</a>
                        </dd>
                    </dl>
                </div>

            </div>
        </div>
    </div>

</div>


</body>
</html>