<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>闪电聘</title>
    {% include "header.html" %}
    <link rel="stylesheet" href="/css/jd.css">
</head>

<body>

<div class="container-fluid container-type"
     style="padding-top:5%; padding-left:0px; padding-bottom: 5px; ">
    <!--border-bottom: solid 1.5px rgba(94, 94, 94, 0.28)-->
    <!--岗位名称 和 招聘顾问-->
    <div class="row">
        <div class="col-md-8">
            <div class="row">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="panel-title">
                            <h4 id="jobName">
                            </h4>
                            <div id="jobSalary">
                            </div>
                            <div id="jobType">
                            </div>
                        </h1>

                        <div class="job-welfare">
                            <span class="label label-primary label-sm" id="jobWelfare">包住</span>
                        </div>
                    </div>

                    <div class="panel-body">
                        <div style="padding-top: 2px">
                            <h5>职位要求</h5>
                            <span class="label label-primary" id="experience">1-2年</span>
                            <span class="label label-primary" id="degree">学历不限</span>
                        </div>
                    </div>

                    <div class="panel-body panel-top-border" id="address">
                        工作地址:北京市朝阳区望京西园二区
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">职位描述</div>
                    <div class="panel-body" id="jobContent">
                    </div>
                </div>
            </div>

            <div class="row job-supply-position">
                <button class="btn btn-success btn-lg" id="applyJobButton">投递简历</button>
            </div>
            
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" id="hirePerson">
                        张三
                        <small id="hireTitle">人力负责人</small>
                    </h3>
                </div>
                <div class="panel-body" style="align-content: center">
                    <img class="img-responsive center-block"
                         src="https://d1du115wj2d9xz.cloudfront.net/api/file/MTCqFr8RyOzqoZHu52M5/convert?rotate=exif&w=188&h=188&fit=crop&align=center&format=jpg&quality=65"
                         alt="下载中" class="img-circle">
                </div>
                <div class="panel-body" style="border-top: solid 1.5px rgba(94, 94, 94, 0.28)">
                    <h4>联系方式 18610027435</h4>
                    <div>
                        <button class="btn btn-primary">立即聊天</button>
                        <button class="btn btn-primary">发送留言</button>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="/js/jd.js"></script>
</div>
</body>

</html>