<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>闪电聘</title>
    {% include "header.html" %}
    <link rel="stylesheet" href="/css/jd.css">
</head>

<body>

<div class="container-fluid container-type"
     style="padding-top:5%; padding-left:0px; padding-bottom: 5px; ">
    <!--border-bottom: solid 1.5px rgba(94, 94, 94, 0.28)-->
    <!--岗位名称 和 招聘顾问-->
    <div class="row">
        <div class="col-md-8">

            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" id="jodName">
                            酒店服务员
                            <mark><strong id="salary">3000-5000s</strong></mark>
                            <button class="btn btn-default btn-xs">兼职</button>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div>
                            <button class="btn btn-primary btn-xs">包吃</button>
                            <button class="btn btn-primary btn-xs">包住</button>
                            <button class="btn btn-primary btn-xs">双休</button>
                            <button class="btn btn-primary btn-xs">年底双薪</button>
                        </div>

                        <div style="padding-top: 2px">
                            要求:
                        </div>
                    </div>
                    <div class="panel-body panel-top-border">
                        工作地址: 北京市朝阳区望京西园二区
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">职位描述</div>
                    <div class="panel-body">
                        本职位是电话销售工作：是汗水和回报成正比的一项工作！ 有理想你就来，敢来我们就敢给你高工资；我们坚信高工资和好的团队精神是留住人才的唯一标准！欢迎有理想,抱负的年轻人加入我们的团队!
                        <br>
                        [ 职位描述 ]
                        <br>
                        全国卫视养生栏目-->客户自己打进电话-->解决客户问题-->完成销售拿提成
                        [ 岗位职责 ]
                        1. 公司提供有效资源全国各大卫视养生栏目进线多、成单率高（不需自己找客户），客服负责接听电话解答客户问题并达成销售；
                        2. 具备较强的学习能力和优秀的沟通能力，思维敏捷，具备良好的应变能力和抗压能力，能积极配合公司统一培训及相关业务指导；
                        </p>
                    </div>
                </div>
            </div>

            <div class="row job-supply-position">
                <button class="btn btn-success btn-lg">投递简历</button>
                <button class="btn btn-success btn-lg">收藏职位</button>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" id="hirePerson">
                        张三
                        <small id="hireTitle">人力负责人</small>
                    </h3>
                </div>
                <div class="panel-body" style="align-content: center">
                    <img class="img-responsive center-block"
                         src="https://d1du115wj2d9xz.cloudfront.net/api/file/MTCqFr8RyOzqoZHu52M5/convert?rotate=exif&w=188&h=188&fit=crop&align=center&format=jpg&quality=65"
                         alt="下载中" class="img-circle">
                </div>
                <div class="panel-body" style="border-top: solid 1.5px rgba(94, 94, 94, 0.28)">
                    <h4>联系方式 18610027435</h4>
                </div>
            </div>

        </div>
    </div>

    <!--工作描述 和 公司简介-->
    <div class="row">

    </div>

</div>
</body>

</html>