<!--职位列表-->
<div>
    <div class="list-group" style="padding-top: 20px" id="jobListTable">
        <a href="/jd?id=12345" class="list-group-item">
            <div class="row">
                <div class="col-md-10">
                    <h4 class="list-group-item-heading">快递员
                        <small>5000-6000</small>
                        <small style="color: #9d9d9d">1小前发布</small>
                    </h4>
                    <div class="form-inline">
                        <i class="icon-map-marker select-icon-style">
                        </i>望京西园二区
                    </div>
                    <p class="list-group-item-text" style="padding-top: 3px">美团公司直招外卖快递员</p>
                </div>
                <div class="col-md-2">
                    <div class="list-item-img">
                        <img src="https://d1du115wj2d9xz.cloudfront.net/api/file/8sJYOo1ySoGAr51dmZdU/convert?rotate=exif&w=120&h=70&fit=crop&align=center&format=jpeg&quality=65"
                             alt="">
                    </div>
                </div>
            </div>
        </a>
        <!--15个job 的时候进行翻页-->
    </div>

    <div class="paging-nav">
        <a class="btn btn-default back disabled">
            <div class="btn-wrapper">
                <div class="label-block">
                    <<
                </div>
            </div>
        </a>

        <a class="btn btn-primary gotoPage" id="page-1">
            <div class="btn-wrapper">
                <div class="label-block">
                    1
                </div>
            </div>
        </a>

        <a class="btn btn-default gotoPage" id="page-2">
            <div class="btn-wrapper">
                <div class="label-block">
                    2
                </div>
            </div>
        </a>

        <a class="btn btn-default gotoPage" id="page-3">
            <div class="btn-wrapper">
                <div class="label-block">
                    3
                </div>
            </div>
        </a>
        <a class="btn btn-default gotoPage" id="page-4">
            <div class="btn-wrapper">
                <div class="label-block">
                    4
                </div>
            </div>
        </a>
        <a class="btn disabled" id="ellipsis">
            <div class="btn-wrapper">
                <div class="label-block">
                    ...
                </div>
            </div>
        </a>
        <a class="btn btn-default gotoPage" id="page-32">
            <div class="btn-wrapper">
                <div class="label-block">
                    32
                </div>
            </div>
        </a>
        <a class="btn btn-default forward">
            <div class="btn-wrapper">
                <div class="label-block">
                    >>
                </div>
            </div>
        </a>
    </div>
</div>
