<!--职位列表-->
<div>
    <div class="list-group" style="padding-top: 20px" id="jobListTable">

    </div>

    <div class="paging-nav">
        <a class="btn btn-default back disabled">
            <div class="btn-wrapper">
                <div class="label-block">
                    <<
                </div>
            </div>
        </a>

        <a class="btn btn-primary gotoPage" id="page-1">
            <div class="btn-wrapper">
                <div class="label-block">
                    1
                </div>
            </div>
        </a>

        <a class="btn btn-default gotoPage" id="page-2">
            <div class="btn-wrapper">
                <div class="label-block">
                    2
                </div>
            </div>
        </a>

        <a class="btn btn-default gotoPage" id="page-3">
            <div class="btn-wrapper">
                <div class="label-block">
                    3
                </div>
            </div>
        </a>
        <a class="btn btn-default gotoPage" id="page-4">
            <div class="btn-wrapper">
                <div class="label-block">
                    4
                </div>
            </div>
        </a>
        <a class="btn disabled" id="ellipsis">
            <div class="btn-wrapper">
                <div class="label-block">
                    ...
                </div>
            </div>
        </a>
        <a class="btn btn-default gotoPage" id="page-32">
            <div class="btn-wrapper">
                <div class="label-block">
                    32
                </div>
            </div>
        </a>
        <a class="btn btn-default forward">
            <div class="btn-wrapper">
                <div class="label-block">
                    >>
                </div>
            </div>
        </a>
    </div>
</div>
