<!--职位列表-->
<div>
    <div class="list-group" style="padding-top: 20px">

        <a href="/jd?id=123" class="list-group-item">
            <h4 class="list-group-item-heading">酒店服务员
                <small>3000-5000</small>
                <small style="color: #9d9d9d">1小前发布</small>
            </h4>
            <p class="list-group-item-text" style="padding-top: 3px">望京西园二区</p>
            <p class="list-group-item-text" style="padding-top: 3px">包吃包住,非常便宜</p>
        </a>

        <a href="/jd?id=12345" class="list-group-item">
            <h4 class="list-group-item-heading">快递员
                <small>5000-6000</small>
                <small style="color: #9d9d9d">1小前发布</small>
            </h4>
            <p class="list-group-item-text" style="padding-top: 3px">望京西园二区</p>
            <p class="list-group-item-text" style="padding-top: 3px">美团公司直招外卖快递员</p>
        </a>

        <a href="/jd?id=12345" class="list-group-item">
            <h4 class="list-group-item-heading">厨师
                <small>6000-8000</small>
                <small style="color: #9d9d9d">2小时前发布</small>
            </h4>
            <div class="form-inline">
                <i class="icon-map-marker">
                </i>望京西园二区
            </div>
            <p class="list-group-item-text" style="padding-top: 3px">好企业,提供厨师师傅的更好的平台</p>

        </a>
    </div>

    <div class="paging-nav">
        <a class="btn btn-default back disabled">
            <div class="btn-wrapper">
                <div class="label-block">
                    <<
                </div>
            </div>
        </a>

        <a class="btn btn-primary gotoPage" id="page-1">
            <div class="btn-wrapper">
                <div class="label-block">
                    1
                </div>
            </div>
        </a>

        <a class="btn btn-default gotoPage" id="page-2">
            <div class="btn-wrapper">
                <div class="label-block">
                    2
                </div>
            </div>
        </a>

        <a class="btn btn-default gotoPage" id="page-3">
            <div class="btn-wrapper">
                <div class="label-block">
                    3
                </div>
            </div>
        </a>
        <a class="btn btn-default gotoPage" id="page-4">
            <div class="btn-wrapper">
                <div class="label-block">
                    4
                </div>
            </div>
        </a>
        <a class="btn disabled" id="ellipsis">
            <div class="btn-wrapper">
                <div class="label-block">
                    ...
                </div>
            </div>
        </a>
        <a class="btn btn-default gotoPage" id="page-32">
            <div class="btn-wrapper">
                <div class="label-block">
                    32
                </div>
            </div>
        </a>
        <a class="btn btn-default forward">
            <div class="btn-wrapper">
                <div class="label-block">
                    >>
                </div>
            </div>
        </a>
    </div>
</div>
