<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>闪电聘-招聘</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>闪电聘</title>
    {% include "header.html" %}
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>

<div class="container" style="padding-top: 10%">
    <div>
        <h2 class="form-signin-heading" style="text-align: center;padding-bottom: 35px">登陆闪电聘,从此与众不同!</h2>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form class="form-signin">
                <label for="inputMobile" class="sr-only">手机号</label>
                <input type="text" id="inputMobile" class="form-control" placeholder="手机号" required="" autofocus="">
                <label for="inputPassword" class="sr-only">密 码</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="密码" required="">
                <div class="checkbox col-xs-8">
                    <label>
                        <input type="checkbox" value="remember-me"> 记住我
                    </label>
                    <a href="/#forget" style="">忘记密码</a>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">登 录</button>

                <div class="col-md-12" style="text-align: center; padding-top: 10px">
                    还没有账号?  <a href="/register"><ins style="">立即注册</ins> </a>
                </div>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
</body>
</html>