<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>闪电聘</title>
    <link rel="stylesheet" href="/css/post.css">
    {% include "header.html" %}
</head>

<body>
<div class="container-fluid post-container-style">

    <div class="panel panel-primary panel-sm">
        <div class="panel-heading">
            <h5>职位描述</h5>
        </div>
        <div class="panel-body">
            <div class="row">
                <label> 职位名称</label>
                <input type="text"> </input>
                <label> 所属行业</label>
                <select name="industy" id="industy">
                    <option value="sales">餐饮</option>
                    <option value="manufactor">制造</option>
                </select>
            </div>
        </div>
    </div>

    <!---->
    <div class="panel panel-default panel-sm">
        <div class="panel-body">
            Panel content
        </div>
        <div class="panel-footer">Panel footer</div>
    </div>

</div>
</body>
</html>