<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>闪电聘</title>
    <link rel="stylesheet" href="/css/post.css">
    {% include "header.html" %}
</head>

<body>
<div class="container-fluid post-container-style">

    <div class="panel panel-primary panel-sm">

        <div class="panel-heading">
            <h5>职位描述</h5>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon" id="sizing-addon1">职位名称</span>
                        <input type="text" class="form-control" placeholder="" aria-describedby="sizing-addon1">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon" id="sizing-addon2">所属行业</span>
                        <select name="industy" id="industy" class="form-control">
                            <option value="sales">餐饮</option>
                            <option value="manufactor">制造</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-12 text-space">
                    <h5>填写具体的岗位信息</h5>
                    <textarea class="form-control" placeholder="岗位具体描述" rows="3"></textarea>
                </div>

                <div class="col-md-12 text-space" >
                    <h5>介绍公司与团队</h5>
                    <textarea class="form-control" placeholder="具体公司介绍" rows="3"></textarea>
                </div>

                <div class="col-md-6 text-space" >
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon" id="sizing-addon3">职位类型</span>

                        <label class="checkbox-inline" >
                            <input type="checkbox" id="inlineCheckbox1" value="option1"> 全职
                        </label>
                        <label class="checkbox-inline ">
                            <input type="checkbox" id="inlineCheckbox2" value="option2"> 兼职
                        </label>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--职位福利待遇-->
    <div class="panel panel-primary panel-sm">
        <div class="panel-heading">
            <h5>工资与福利</h5>
        </div>
        <div class="row">
            <div class="col-md-6">
                <input type="text">
            </div>
            <div class="col-md-6">
                <input type="text">
            </div>
            <div class="col-md-12">
                <h4>福利</h4>
                <label class="pop-input-label" >福利</label>
                <div class="panel-body">
                    <input class="group-checkbox bonuses select-one-item" type="checkbox">
                </div>
            </div>
        </div>
        <div class="panel-footer">Panel footer</div>
    </div>

    <!--职位地址-->
    <div class="panel panel-primary panel-sm">
        <div class="panel-heading">
            <h5>职位地址</h5>
        </div>
        <div class="map">

        </div>
    </div>

    <div class="panel panel-primary panel-sm">
        <div class="panel-heading">
            <h5>职位图片</h5>
        </div>
        <div class="map">
        </div>
    </div>

    <div class="panel panel-primary panel-sm">
        <div class="panel-heading">
            <h5>招聘负责人</h5>
        </div>
        <div class="panel-body">
            <label>姓名</label>
            <input type="text"/>
        </div>
    </div>

    <div class="panel panel-primary panel-sm">
        <div class="panel-body">
            <button class="btn btn-success">发布</button>
            <button class="btn btn-danger">删除</button>
        </div>
    </div>

</div>
</body>
</html>