<div class="sidebar">
    <div class="row">
        <div class="menu_main col-md-8">
            <h3>
                餐饮
            </h3>
            <a href="#" data-lg-tj-id="4A00" data-lg-tj-no="0001" data-lg-tj-cid="idnull">服务员</a>
            <a href="#" data-lg-tj-id="4A00" data-lg-tj-no="0002" data-lg-tj-cid="idnull">送餐员</a>
            <a href="#" data-lg-tj-id="4A00" data-lg-tj-no="0003" data-lg-tj-cid="idnull">厨师/厨师长</a>
            <a href="#" data-lg-tj-id="4A00" data-lg-tj-no="0004" data-lg-tj-cid="idnull">后厨</a>
            <a href="#" data-lg-tj-id="4A00" data-lg-tj-no="0005" data-lg-tj-cid="idnull">传菜员</a>
            <a href="#" data-lg-tj-id="4A00" data-lg-tj-no="0006" data-lg-tj-cid="idnull">配菜/打荷</a>
            <a href="#" data-lg-tj-id="4A00" data-lg-tj-no="0007" data-lg-tj-cid="idnull">面点师</a>
            <a href="#" data-lg-tj-id="4A00" data-lg-tj-no="0008" data-lg-tj-cid="idnull">茶艺师</a>
            <a href="#" data-lg-tj-id="4A00" data-lg-tj-no="0009" data-lg-tj-cid="idnull">大堂经理/领班</a>
            <a href="#" data-lg-tj-id="4A00" data-lg-tj-no="0010" data-lg-tj-cid="idnull">迎宾/接待</a>
            <a href="#" data-lg-tj-id="4A00" data-lg-tj-no="0011" data-lg-tj-cid="idnull">咖啡师</a>
            <a href="#" data-lg-tj-id="4A00" data-lg-tj-no="0012" data-lg-tj-cid="idnull">预订员</a>
        </div>

        <div class="menu_sub dn col-md-5" style="top: 0px;">
            <dl>
                <dt>
                    <a href="#" data-lg-tj-id="4H00" data-lg-tj-no="0001" data-lg-tj-cid="idnull">预订员</a>
                </dt>
                <dd>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0101" data-lg-tj-cid="idnull" class="curr">预订员</a>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0102" data-lg-tj-cid="idnull" class="">预订员</a>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0103" data-lg-tj-cid="idnull" class="curr">预订员</a>
                </dd>
            </dl>
            <dl>
                <dt>
                    <a href="#" data-lg-tj-id="4H00" data-lg-tj-no="0002" data-lg-tj-cid="idnull">咖啡师</a>
                </dt>
                <dd>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0201" data-lg-tj-cid="idnull" class="">茶艺师</a>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0202" data-lg-tj-cid="idnull" class="curr">茶艺师</a>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0203" data-lg-tj-cid="idnull" class="curr">茶艺师</a>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0204" data-lg-tj-cid="idnull" class="">茶艺师</a>
                </dd>
            </dl>
            <dl>
                <dt>
                    <a href="#" data-lg-tj-id="4H00" data-lg-tj-no="0003" data-lg-tj-cid="idnull">前端开发</a>
                </dt>
                <dd>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0301" data-lg-tj-cid="idnull" class="">web前端</a>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0302" data-lg-tj-cid="idnull" class="">Flash</a>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0303" data-lg-tj-cid="idnull" class="">html5</a>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0304" data-lg-tj-cid="idnull" class="">JavaScript</a>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0305" data-lg-tj-cid="idnull" class="">U3D</a>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0306" data-lg-tj-cid="idnull" class="">COCOS2D-X</a>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0307" data-lg-tj-cid="idnull" class="">前端开发其它</a>
                </dd>
            </dl>
            <dl>
                <dt>
                    <a href="#" data-lg-tj-id="4H00" data-lg-tj-no="0004" data-lg-tj-cid="idnull">测试</a>
                </dt>
                <dd>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0401" data-lg-tj-cid="idnull" class="">测试工程师</a>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0402" data-lg-tj-cid="idnull" class="">自动化测试</a>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0403" data-lg-tj-cid="idnull" class="">功能测试</a>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0404" data-lg-tj-cid="idnull" class="">性能测试</a>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0405" data-lg-tj-cid="idnull" class="">测试开发</a>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0406" data-lg-tj-cid="idnull" class="">游戏测试</a>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0407" data-lg-tj-cid="idnull" class="">白盒测试</a>
            </dl>
            <dl>
                <dt>
                    <a href="#" data-lg-tj-id="4H00" data-lg-tj-no="0005" data-lg-tj-cid="idnull">运维</a>
                </dt>
                <dd>



                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0501" data-lg-tj-cid="idnull" class="">运维工程师</a>



                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0502" data-lg-tj-cid="idnull" class="">运维开发工程师</a>



                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0503" data-lg-tj-cid="idnull" class="">网络工程师</a>



                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0504" data-lg-tj-cid="idnull" class="">系统工程师</a>



                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0505" data-lg-tj-cid="idnull" class="">IT支持</a>



                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0506" data-lg-tj-cid="idnull" class="">IDC</a>



                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0507" data-lg-tj-cid="idnull" class="">CDN</a>



                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0508" data-lg-tj-cid="idnull" class="">F5</a>



                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0509" data-lg-tj-cid="idnull" class="">系统管理员</a>



                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0510" data-lg-tj-cid="idnull" class="">病毒分析</a>



                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0511" data-lg-tj-cid="idnull" class="">WEB安全</a>



                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0512" data-lg-tj-cid="idnull" class="">网络安全</a>



                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0513" data-lg-tj-cid="idnull" class="">系统安全</a>



                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0514" data-lg-tj-cid="idnull" class="">运维经理</a>



                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0515" data-lg-tj-cid="idnull" class="">运维其它</a>
                </dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="menu_main col-md-10">
            <h3>
                酒店旅游
            </h3>
            <a href="#" data-lg-tj-id="4A00" data-lg-tj-no="0001" data-lg-tj-cid="idnull">服务员</a>
            <a href="#" data-lg-tj-id="4A00" data-lg-tj-no="0002" data-lg-tj-cid="idnull">送餐员</a>
            <a href="#" data-lg-tj-id="4A00" data-lg-tj-no="0003" data-lg-tj-cid="idnull">厨师/厨师长</a>
            <a href="#" data-lg-tj-id="4A00" data-lg-tj-no="0004" data-lg-tj-cid="idnull">后厨</a>
            <a href="#" data-lg-tj-id="4A00" data-lg-tj-no="0005" data-lg-tj-cid="idnull">传菜员</a>
            <a href="#" data-lg-tj-id="4A00" data-lg-tj-no="0006" data-lg-tj-cid="idnull">配菜/打荷</a>
            <a href="#" data-lg-tj-id="4A00" data-lg-tj-no="0007" data-lg-tj-cid="idnull">面点师</a>
            <a href="#" data-lg-tj-id="4A00" data-lg-tj-no="0008" data-lg-tj-cid="idnull">茶艺师</a>
            <a href="#" data-lg-tj-id="4A00" data-lg-tj-no="0009" data-lg-tj-cid="idnull">大堂经理/领班</a>
            <a href="#" data-lg-tj-id="4A00" data-lg-tj-no="0010" data-lg-tj-cid="idnull">迎宾/接待</a>
            <a href="#" data-lg-tj-id="4A00" data-lg-tj-no="0011" data-lg-tj-cid="idnull">咖啡师</a>
            <a href="#" data-lg-tj-id="4A00" data-lg-tj-no="0012" data-lg-tj-cid="idnull">预订员</a>
        </div>

        <div class="menu_sub dn col-md-5" style="top: 0px;">
            <dl>
                <dt>
                    <a href="#" data-lg-tj-id="4H00" data-lg-tj-no="0001" data-lg-tj-cid="idnull">后端开发</a>
                </dt>
                <dd>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0101" data-lg-tj-cid="idnull" class="curr">Java</a>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0102" data-lg-tj-cid="idnull" class="">Python</a>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0103" data-lg-tj-cid="idnull" class="curr">PHP</a>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0104" data-lg-tj-cid="idnull" class="">.NET</a>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0105" data-lg-tj-cid="idnull" class="">C#</a>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0106" data-lg-tj-cid="idnull" class="curr">C++</a>
                </dd>
            </dl>
            <dl>
                <dt>
                    <a href="#" data-lg-tj-id="4H00" data-lg-tj-no="0002" data-lg-tj-cid="idnull">移动开发</a>
                </dt>
                <dd>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0201" data-lg-tj-cid="idnull" class="">HTML5</a>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0202" data-lg-tj-cid="idnull" class="curr">Android</a>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0203" data-lg-tj-cid="idnull" class="curr">iOS</a>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0204" data-lg-tj-cid="idnull" class="">WP</a>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0205" data-lg-tj-cid="idnull" class="">移动开发其它</a>
                </dd>
            </dl>
            <dl>
                <dt>
                    <a href="#" data-lg-tj-id="4H00" data-lg-tj-no="0003" data-lg-tj-cid="idnull">前端开发</a>
                </dt>
                <dd>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0301" data-lg-tj-cid="idnull" class="">web前端</a>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0302" data-lg-tj-cid="idnull" class="">Flash</a>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0303" data-lg-tj-cid="idnull" class="">html5</a>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0304" data-lg-tj-cid="idnull" class="">JavaScript</a>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0305" data-lg-tj-cid="idnull" class="">U3D</a>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0306" data-lg-tj-cid="idnull" class="">COCOS2D-X</a>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0307" data-lg-tj-cid="idnull" class="">前端开发其它</a>
                </dd>
            </dl>
            <dl>
                <dt>
                    <a href="#" data-lg-tj-id="4H00" data-lg-tj-no="0004" data-lg-tj-cid="idnull">测试</a>
                </dt>
                <dd>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0401" data-lg-tj-cid="idnull" class="">测试工程师</a>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0402" data-lg-tj-cid="idnull" class="">自动化测试</a>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0403" data-lg-tj-cid="idnull" class="">功能测试</a>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0404" data-lg-tj-cid="idnull" class="">性能测试</a>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0405" data-lg-tj-cid="idnull" class="">测试开发</a>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0406" data-lg-tj-cid="idnull" class="">游戏测试</a>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0407" data-lg-tj-cid="idnull" class="">白盒测试</a>
            </dl>
            <dl>
                <dt>
                    <a href="#" data-lg-tj-id="4H00" data-lg-tj-no="0005" data-lg-tj-cid="idnull">运维</a>
                </dt>
                <dd>



                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0501" data-lg-tj-cid="idnull" class="">运维工程师</a>



                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0502" data-lg-tj-cid="idnull" class="">运维开发工程师</a>



                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0503" data-lg-tj-cid="idnull" class="">网络工程师</a>



                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0504" data-lg-tj-cid="idnull" class="">系统工程师</a>



                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0505" data-lg-tj-cid="idnull" class="">IT支持</a>



                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0506" data-lg-tj-cid="idnull" class="">IDC</a>



                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0507" data-lg-tj-cid="idnull" class="">CDN</a>



                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0508" data-lg-tj-cid="idnull" class="">F5</a>



                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0509" data-lg-tj-cid="idnull" class="">系统管理员</a>



                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0510" data-lg-tj-cid="idnull" class="">病毒分析</a>



                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0511" data-lg-tj-cid="idnull" class="">WEB安全</a>



                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0512" data-lg-tj-cid="idnull" class="">网络安全</a>



                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0513" data-lg-tj-cid="idnull" class="">系统安全</a>



                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0514" data-lg-tj-cid="idnull" class="">运维经理</a>



                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0515" data-lg-tj-cid="idnull" class="">运维其它</a>
                </dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="menu_main col-md-10">
            <h3>
                家政
            </h3>
            <a href="#" data-lg-tj-id="4A00" data-lg-tj-no="0001" data-lg-tj-cid="idnull">服务员</a>
            <a href="#" data-lg-tj-id="4A00" data-lg-tj-no="0002" data-lg-tj-cid="idnull">送餐员</a>
            <a href="#" data-lg-tj-id="4A00" data-lg-tj-no="0003" data-lg-tj-cid="idnull">厨师/厨师长</a>
            <a href="#" data-lg-tj-id="4A00" data-lg-tj-no="0004" data-lg-tj-cid="idnull">后厨</a>
            <a href="#" data-lg-tj-id="4A00" data-lg-tj-no="0005" data-lg-tj-cid="idnull">传菜员</a>
            <a href="#" data-lg-tj-id="4A00" data-lg-tj-no="0006" data-lg-tj-cid="idnull">配菜/打荷</a>
            <a href="#" data-lg-tj-id="4A00" data-lg-tj-no="0007" data-lg-tj-cid="idnull">面点师</a>
            <a href="#" data-lg-tj-id="4A00" data-lg-tj-no="0008" data-lg-tj-cid="idnull">茶艺师</a>
            <a href="#" data-lg-tj-id="4A00" data-lg-tj-no="0009" data-lg-tj-cid="idnull">大堂经理/领班</a>
            <a href="#" data-lg-tj-id="4A00" data-lg-tj-no="0010" data-lg-tj-cid="idnull">迎宾/接待</a>
            <a href="#" data-lg-tj-id="4A00" data-lg-tj-no="0011" data-lg-tj-cid="idnull">咖啡师</a>
            <a href="#" data-lg-tj-id="4A00" data-lg-tj-no="0012" data-lg-tj-cid="idnull">预订员</a>
        </div>

        <div class="menu_sub dn col-md-5" style="top: 0px;">
            <dl>
                <dt>
                    <a href="#" data-lg-tj-id="4H00" data-lg-tj-no="0001" data-lg-tj-cid="idnull">服务员</a>
                </dt>
                <dd>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0101" data-lg-tj-cid="idnull" class="curr">服务员</a>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0102" data-lg-tj-cid="idnull" class="">服务员</a>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0103" data-lg-tj-cid="idnull" class="curr">服务员</a>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0104" data-lg-tj-cid="idnull" class="">服务员</a>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0105" data-lg-tj-cid="idnull" class="">服务员</a>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0106" data-lg-tj-cid="idnull" class="curr">服务员</a>
                </dd>
            </dl>
            <dl>
                <dt>
                    <a href="#" data-lg-tj-id="4H00" data-lg-tj-no="0002" data-lg-tj-cid="idnull">送餐员</a>
                </dt>
                <dd>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0201" data-lg-tj-cid="idnull" class="">送餐员</a>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0202" data-lg-tj-cid="idnull" class="curr">送餐员</a>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0203" data-lg-tj-cid="idnull" class="curr">送餐员</a>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0204" data-lg-tj-cid="idnull" class="">送餐员</a>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0205" data-lg-tj-cid="idnull" class="">送餐员</a>
                </dd>
            </dl>
            <dl>
                <dt>
                    <a href="#" data-lg-tj-id="4H00" data-lg-tj-no="0003" data-lg-tj-cid="idnull">厨师/厨师长</a>
                </dt>
                <dd>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0301" data-lg-tj-cid="idnull" class="">web前端</a>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0302" data-lg-tj-cid="idnull" class="">Flash</a>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0303" data-lg-tj-cid="idnull" class="">html5</a>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0304" data-lg-tj-cid="idnull" class="">JavaScript</a>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0305" data-lg-tj-cid="idnull" class="">U3D</a>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0306" data-lg-tj-cid="idnull" class="">COCOS2D-X</a>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0307" data-lg-tj-cid="idnull" class="">前端开发其它</a>
                </dd>
            </dl>
            <dl>
                <dt>
                    <a href="#" data-lg-tj-id="4H00" data-lg-tj-no="0004" data-lg-tj-cid="idnull">测试</a>
                </dt>
                <dd>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0401" data-lg-tj-cid="idnull" class="">测试工程师</a>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0402" data-lg-tj-cid="idnull" class="">自动化测试</a>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0403" data-lg-tj-cid="idnull" class="">功能测试</a>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0404" data-lg-tj-cid="idnull" class="">性能测试</a>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0405" data-lg-tj-cid="idnull" class="">测试开发</a>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0406" data-lg-tj-cid="idnull" class="">游戏测试</a>
                    <a href="#" data-lg-tj-id="4O00" data-lg-tj-no="0407" data-lg-tj-cid="idnull" class="">白盒测试</a>
            </dl>
        </div>
    </div>
    <hr>
</div>