<!DOCTYPE html>
<html lang="zh-CN" xmlns:wb="http://open.weibo.com/wb">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    {% include "header.html" %}
    <link rel="stylesheet" href="/css/index.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=1037943646" type="text/javascript"
            charset="utf-8"></script>
</head>
<body>

<h2>微博登录</h2>
<div id="wb_connect_btn"></div>

<script>
    WB2.anyWhere(function (W) {
        W.widget.connectButton({
            id: "wb_connect_btn",
            type: '3,2',
            callback: {
                login: function (o) { //登录后的回调函数
                    alert("login: " + o.screen_name)
                },
                logout: function () { //退出后的回调函数
                    alert('logout');
                }
            }
        });
    });
</script>

</body>
</html>