
.pannel-container-style {
    padding-bottom: 5px;
    padding-left: 15%;
    padding-right: 15%;

    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    text-align: center;
    margin-bottom: 10%;
}

.panel-heading-style {
    font-size: 15px;
}

.grid-cell {
    flex: 1 0 0px;
}

.grid-cell-center {
    align-self: center;
}

.fix-grid {
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    display: flex;
}

.grid-grow-small {
    flex-grow: 1;
}



