body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 0;
    font-color: rgba(65, 65, 65, 0.56);
}

a {
    color: #00B7FF;
}

.wp-navbar {
    font-family: 'Gotham Rounded SSm 3r', 'Gotham Rounded SSm A', 'Gotham Rounded SSm B', 'Lato', Arial, Helvetica, sans-serif;
    font-weight: 300;
    height: 30px;
    background-color: #232323;
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}

.navbar-inverse {
    background-color: #222;
    border-color: #080808;
}

#search-input {
    padding: 1px;
}

#search-button {
    padding: 1px;
    width: 100px;
    background-color: #2196f3;
    color: #ffffff;
}

.container {
    margin-left: 15px;
    margin-right: 15px;
}

#basic-addon2 {
    background-color: gray;
}

.search-wrapper {
    /*padding-top: 50px;*/
    margin: 10px;
    padding: 10px 0;
}

.layout {
    position: relative;
    display: block;
    height: 100%;
}

:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.col-red {
    background-color: #8c8c8c;
}

.foot-nav {
    margin-top: 10px;
}

.foot-desc {
    background-color: #999999;
}

.col-border {
    border-style: solid;
}

.wrapper {
. make-row();
}

.content-main {
. make-lg-column(8);
}

.content-secondary {
. make-lg-column(3);
. make-lg-column-offset(1);
}

.jobs-list {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    border-radius: 4px;
}

.list-hr {
    margin-top: 10px;
}

.F-glob {
    font-family: global-iconfont;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
}

.content__cell .label i {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 16px;
    line-height: 22px;
    color: #f1463b;
}

ul {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
}

.select-style {
    padding-left: 10px;
}

.search-area-style {
    padding-left: 0px;
}