
.post-container-style {
    padding-bottom: 5px;
    padding-left: 20%;
    padding-right: 20%;

    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    text-align: center;
}

.panel-sm {
    margin-left: 23%;
    margin-right: 20%;
}

.text-space {
    text-align: left;
    padding-top: 8px;

}

.benefits-box {
    padding-left:10px;
    font-size: medium;
}

