
.sidebar .current {
    background: #fff;
    /*border: 2px solid #fafafa;*/
    border-right: 0;
    z-index: 100;
}

.sidebar .menu_main a {
    color: #555;
    background-color: transparent;
    text-decoration: none;
    float: left;
    white-space: nowrap;
    margin: 0 5px 5px 0;
    padding: 0 8px;
}

.sidebar .menu_sub dt a {
    line-height: 28px;
    text-decoration: underline;
    white-space: nowrap;
    color: #777;
    margin-left: -1px;
}

.sidebar .menu_sub dd a {
    line-height: 28px;
    text-decoration: none;
    white-space: nowrap;
    color: #777;
    margin-left: -1px;
}

.dn {
    display: none;
}

.sidebar .menu_sub {
    width: 540px;
    padding: 15px 30px 5px;
    position: absolute;
    top: 0;
    left: 302.9px;
    z-index: 101;
    border: 2px solid #c9cbce;
    background: #fff;
}

.sidebar {
    background: #fafafa;
}

.side-list {
    margin-top: 20px;
}