<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>闪电聘</title>
    <link href="/css/company/position.css" rel="stylesheet">
    <link href="/css/company/dashboard.css" rel="stylesheet">
    {% include "../header.html" %}
</head>

<body>
<div class="container-fluid">
    <div class="row">
        {% include "sideBar.html" %}
        <div class="col-md-9">
            <div class="position-tab">
                <ul class="nav nav-tabs">
                    <li role="presentation" class=""><a href="#">在线岗位</a></li>
                    <li role="presentation" class="active"><a href="#">下线岗位</a></li>
                </ul>
            </div>

        </div>
        <div class="col-md-10">
            <div class="col-md-12">
                <table class="table table-striped table-bordered table-hover" id="table"
                       data-pagination="true"
                       data-show-refresh="true">
                </table>
            </div>
        </div>

    </div>
</div>

<script src="/js/lib/bootstrap-table.min.js"></script>
<script src="/js/lib/bootstrap-table-zh-CN.min.js"></script>
<script src="/js/users/position.js"></script>
</body>
</html>

