<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>闪电聘</title>
    <link href="/css/company/position.css" rel="stylesheet">
    <link href="/css/company/dashboard.css" rel="stylesheet">
    {% include "../header.html" %}
</head>

<body>
<div class="container-fluid">
    <div class="row">
        {% include "sideBar.html" %}

        <div class="col-md-9">

            <div class="position-tab">
                <ul class="nav nav-tabs">
                    <li role="presentation" class="active"><a href="#">待筛选简历</a></li>
                    <li role="presentation"><a href="#">待沟通简历</a></li>
                    <li role="presentation"><a href="#">已邀请简历</a></li>
                    <li role="presentation"><a href="#">不合适简历</a></li>
                    <li role="presentation"><a href="#">自动过滤简历</a></li>
                </ul>
            </div>

            <div class="panel panel-default panel-sm">
                <div class="table-responsive">
                    <table class="table">
                        <tr class="active">
                            <td>投递时间</td>
                            <td>姓名</td>
                            <td>性别</td>
                            <td>年龄</td>
                            <td>教育背景</td>
                            <td>操作</td>
                        </tr>
                        <tr>
                            <td>2015-10-01</td>
                            <td>张三</td>
                            <td>男</td>
                            <td>38</td>
                            <td>
                                本科
                            </td>
                            <td>
                                <a href="">查看</a>
                                <a href="">邀请</a>
                            </td>
                        </tr>
                        <tr>
                            <td>2015-10-01</td>
                            <td>张三</td>
                            <td>男</td>
                            <td>38</td>
                            <td>
                                本科
                            </td>
                            <td>
                                <a href="">查看</a>
                                <a href="">邀请</a>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>

        </div>

    </div>

</div>
</body>
</html>