<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/company/position.css" rel="stylesheet">
    <link href="/css/company/dashboard.css" rel="stylesheet">
    {% include "../header.html" %}
</head>
<body>

<div class="container-fluid">
    <div class="row">

        {% include "sideBar.html" %}
        <div class="col-md-9">
            <div class="position-tab">
                <ul class="nav nav-tabs">
                    <li role="presentation" class="active"><a href="#">待筛选简历</a></li>
                    <li role="presentation"><a href="#">待沟通简历</a></li>
                    <li role="presentation"><a href="#">已邀请简历</a></li>
                    <li role="presentation"><a href="#">不合适简历</a></li>
                    <li role="presentation"><a href="#">自动过滤简历</a></li>
                </ul>
            </div>

            <div>
                <table class="table table-striped table-bordered table-hover" id="table"
                       data-pagination="true"
                       data-show-refresh="true">
                </table>
            </div>
        </div>

    </div>
</div>

<script src="/js/lib/bootstrap-table.min.js"></script>
<script src="/js/lib/bootstrap-table-zh-CN.min.js"></script>
<script src="/js/company/resumemanage.js"></script>

</body>
</html>