<div class="col-sm-3 col-md-2 sidebar sidebar-admin">
    <ul class="nav nav-sidebar">
        <li class="active"><a href="/company/index">管理中心 <span class="sr-only">(current)</span></a>
        </li>
        <li><a href="/company/postjob"><b>新发布职位</b></a></li>
        <li><a href="/company/hasjob">已发布岗位</a></li>
        <li><a href="/company/candidate">候选人状况</a></li>
    </ul>

    <!--这就是尼玛 赚企业钱的地方啊!!!! -> 设计不同的企业解决方案-->
    <ul class="nav nav-sidebar">
        <li class="active"><a href="">招聘宝</a></li>
        <li><a href="">招聘广告</a></li>
        <li><a href="">精准推荐</a></li>
        <li><a href="">企业人力SaaS系统</a></li>
        <li><a href="">人才分析</a></li>
    </ul>

</div>
