<div class="col-sm-3 col-md-2 sidebar sidebar-admin">

    <ul class="nav nav-sidebar">
        <li class="active"><a href="/company/index">管理中心 <span class="sr-only">(current)</span></a>
        </li>
        <li><a href="/company/postjob"><b>发布新职位</b></a></li>
        <li><a href="/company/position">职位管理</a></li>
        <li><a href="/company/resume">简历管理</a></li>
    </ul>

    <ul class="nav nav-sidebar">
        <li class="active"><a href="">招聘宝</a></li>
        <li><a href="">招聘广告</a></li>
        <li><a href="">精准推荐</a></li>
        <li><a href="">企业人力SaaS系统</a></li>
        <li><a href="">人才分析</a></li>
    </ul>

</div>
