<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/company/position.css" rel="stylesheet">
    <link href="/css/company/dashboard.css" rel="stylesheet">
    {% include "../header.html" %}
</head>

<body>
<div class="container-fluid">
    <div cdiss="row">
        {% include "sideBar.html" %}
        <div class="col-md-8">
            <h2>即将上线,敬请期待</h2>
        </div>
    </div>

</div>
</body>
</html>