
.post-container-style {
    padding-bottom: 5px;
    padding-left: 20%;
    padding-right: 20%;

    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    text-align: center;
}

.panel-sm {
    margin-left: 20px;
    margin-right: 12%;
}

.text-space {
    text-align: left;
    padding-top: 8px;

}

.benefits-box {
    padding-left: 10px;
    font-size: medium;
}

.post-panel-group {
    padding-top: 5px;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 0px;
}

.section-component-navy {
    background-color: #565A5C;
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    line-height: 18px;
}

.section-component {
    padding: 16px 0;
    text-align: center;
}

.content-panel {
    margin-top: 20px;
    border-radius: 4ch;
}

.job-thumbnail {
    width: 88px;
    height: 88px;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.12);
    display: block;
    background-position: -5px -8px;
    border-radius: 4px;
}

.job-img-text {
    text-align: center;
    padding-bottom: 10px;
}

.add-photo-section {
    margin: 10px;
    text-align: center;
}

.btn-add-photo {
    width: 150px;
    height: 30px;
}

label.valid {
    width: 24px;
    height: 24px;
    /*background: url(assets/img/valid.png) center center no-repeat;*/
    display: inline-block;
    text-indent: -9999px;
}
label.error {
    font-weight: bold;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
}

.post-content-style{
    margin-top: 20px;
}

div.panel-heading{
    text-align: center;
}