<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>闪电聘-招聘</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>闪电聘</title>
    {% include "../header.html" %}
    <link rel="stylesheet" href="/css/resume.css">
    <link rel="stylesheet" href="/css/common.css">
    <script type="text/javascript" src="/js/lib/moment.min.js"></script>
    <script type="text/javascript" src="/js/lib/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" href="/css/lib/bootstrap-datetimepicker.min.css"/>
    <script type="text/javascript" src="/js/lib/plupload.full.min.js"></script>
    <script type="text/javascript" src="/js/lib/qiniu.js"></script>
</head>
<body>

<div class="container pannel-container-style">

    <!--头像 和 姓名-->
    <div class="panel panel-default panel-sm">
        <div class="panel-body">
            <div>
                <div>
                    <div class="col-md-12">
                        <img src="http://img.huainanren.net/2016/0129/20160129092645246.jpg" alt="用户照片"
                             class="img-circle user-img-style" id="imgUploaded">

                        <div id="container" class="change-img-button">
                            <a id="pickfiles" href="javascript:;">
                                <i class="icon-plus-sign-alt icon-2x"></i>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-12 text-space">
                        <h3> 金城武 </h3>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--基本信息 可编辑与查看 -->
    <div class="panel panel-default panel-sm">
        <div class="panel-heading panel-heading-style">
            联系方式
            <span class="icon-edit edit-icon-style"></span>
        </div>
        <div class="panel-body">
            <div>
                <div class="col-md-6">
                    <div class=" grid-cell form-inline">
                        <i class="icon-mobile-phone icon-2x"></i>
                        <input type="tel" class="form-control" value="18610027435" id="phoneNum">
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class=" grid-cell form-inline">
                    <i class="icon-home icon-2x"></i>
                    <input type="text" class="form-control" value="北京市朝阳区宏昌路1号望京西园二区201号楼二单元301房间" id="address">
                </div>

            </div>
        </div>
    </div>


    <!--工作经验-->
    <div class="panel panel-default panel-sm panel-heading-style">
        <div class="panel panel-heading">
            工作经验
            <span class="icon-edit edit-icon-style"></span>
        </div>
        <div class="panel panel-body">

            <div class="form-inline work-input-style">
                <div class="btn-group btn-group" role="group" aria-label="..." id="workYear">
                    <button type="button" class="btn btn-default" value="0">无经验</button>
                    <button type="button" class="btn btn-default" value="1">1-3年</button>
                    <button type="button" class="btn btn-default" value="2">3-5年</button>
                    <button type="button" class="btn btn-default" value="3">5年以上</button>
                </div>
            </div>

            <div>
                <textarea id="workContent" class="form-control" rows="3" placeholder="具体的工作情况"></textarea>
            </div>
        </div>
    </div>

    <div class="panel panel-default panel-sm panel-heading-style">
        <div class="panel panel-heading">
            教育背景
            <span class="icon-edit edit-icon-style"></span>
        </div>
        <div class="panel panel-body">
            <div class="form-inline work-input-style">
                <div class="btn-group btn-group" role="group" aria-label="..." id="degree">
                    <button type="button" value="0" class="btn btn-default">高中</button>
                    <button type="button" value="1" class="btn btn-default">技校</button>
                    <button type="button" value="2" class="btn btn-default">专科</button>
                    <button type="button" value="3" class="btn btn-default">本科</button>
                    <button type="button" value="4" class="btn btn-default">硕士</button>
                    <button type="button" value="5" class="btn btn-default">博士</button>
                </div>
            </div>

            <div>
                <textarea id="education" name="education" class="form-control" rows="3"
                          placeholder="具体的工作情况"></textarea>
            </div>
        </div>
    </div>

    <!--求职方向-->
    <div class="panel panel-default panel-sm  panel-heading-style">
        <div class="panel panel-heading">
            求职方向
            <span class="icon-edit edit-icon-style"></span>
        </div>

        <div class="panel panel-body">
            <div class="col-md-6">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon" id="start-work">可工作时间</span>
                    <input type='text' class="form-control" id='datetimepicker'/>
                </div>
            </div>

            <div class="col-md-6">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon" id="sizing-addon2">关注行业</span>
                    <select id="cateId" name="industy" id="industy" class="form-control">
                        <option value="1">餐饮</option>
                        <option value="2">酒店旅游</option>
                        <option value="3">销售</option>
                        <option value="4">客服</option>
                        <option value="5">家政</option>
                        <option value="6">制造</option>
                        <option value="7">建筑</option>
                        <option value="7">休闲娱乐</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default panel-sm  panel-heading-style">
        <div class="panel panel-body">

            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <button class="btn btn-primary" id="editButton"> 提交修改</button>
                <button class="btn btn-danger" id="cancelButton"> 撤销修改</button>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>

</div>

<script src="/js/resume.js"></script>
<script src="/js/component/uploadPic.js"></script>
</body>
</html>