<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>闪电聘-招聘</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>闪电聘</title>
    {% include "../header.html" %}
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/common.css">
</head>
<body>

<div class="container pannel-container-style">
    <!--职位描述-->
    <div class="panel panel-primary panel-sm" >


        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon" id="sizing-addon1">职位名称</span>
                        <input type="text" class="form-control" placeholder="" aria-describedby="sizing-addon1">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon" id="sizing-addon2">所属行业</span>
                        <select name="industy" id="industy" class="form-control">
                            <option value="sales">餐饮</option>
                            <option value="manufactor">制造</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-12 text-space">
                    <h5>填写具体的岗位信息</h5>
                    <textarea class="form-control" placeholder="岗位具体描述" rows="3"></textarea>
                </div>

                <div class="col-md-12 text-space">
                    <h5>介绍公司与团队</h5>
                    <textarea class="form-control" placeholder="具体公司介绍" rows="3"></textarea>
                </div>

                <!--表格的大小设置为 6 个数字-->
                <div class="col-md-6 text-space">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon" id="sizing-addon3">职位类型</span>
                        <select name="industy" id="jobType" class="form-control">
                            <option value="sales">全职</option>
                            <option value="manufactor">兼职</option>
                        </select>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

</body>
</html>