<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>闪电聘-招聘</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>闪电聘</title>
    {% include "../header.html" %}
    <link rel="stylesheet" href="/css/resume.css">
    <link rel="stylesheet" href="/css/common.css">
</head>
<body>

<div class="container pannel-container-style">

    <!--头像 和 姓名-->
    <div class="panel panel-default panel-sm">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <img src="http://img.huainanren.net/2016/0129/20160129092645246.jpg" alt="用户照片"
                         class="img-circle user-img-style">
                </div>
                <div class="col-md-12 text-space">
                    <h3>金城武</h3>
                </div>
            </div>
        </div>
    </div>

    <!--基本信息-->
    <div class="panel panel-default panel-sm">
        <div class="panel-heading panel-heading-style">
            联系方式
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3" style="text-align: right">
                    名称
                </div>
                <div class="col-md-9">
                    金城武
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>